@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --backgroundCol : linear-gradient(to right, #0b285a 0%, #1e3c72 50%, #0b285a 100%);
  --text-kleur: whitesmoke;
  --navtext-color: whitesmoke;
  --vaardigheden-kleur: #0f294f;
}

html, body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right, #0b285a 0%, #1e3c72 50%, #0b285a 100%);
  color: var(--text-kleur);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: 2s ease;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 0.3s forwards; /* Duur van fade-in animatie */
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Fade-out animatie voor bij het verlaten van de pagina */
.fade-out {
  opacity: 1;
  animation: fadeOutAnimation 0.5s forwards; /* Duur van fade-out animatie */
}

@keyframes fadeOutAnimation {
  from { opacity: 1; }
  to { opacity: 0; }
}

header {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 70px repeat(1, 1fr);
  align-items: center;
  height: 70px;
  background-color: var(--backgroundCol);
  color: var(--text-kleur);
  justify-content: space-between;
}

header #linkedin, header #mail {
  font-size: 30px;
  color: inherit;
  text-decoration: none;
}

header #linkedin:hover, header #mail:hover {
  color: #0077B5;
  transition: 0.3s;
}

header h1 {
  grid-row: 1;
  grid-column: 1;
  padding-left: 20px;
  font-size: 25px;
  transition: 0.3s;
  white-space: nowrap;
}

.menu-toggle {
  display: none; /* Verberg het hamburgericoon op grotere schermen */
  cursor: pointer; /* Voeg een cursor toe voor de muisaanwijzer */
}

nav {
  grid-row: 1;
  grid-column: 2;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li .selected {
  color: var(--navtext-color);
}

nav ul li a {
  text-decoration: none;
  font-weight: bolder;
  color: var(--text-kleur);
}

nav ul li a:hover {
  color: #51829B;
}

.contact {
  margin: auto;
  max-height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: var(--text-kleur);
}

.contact a, .contact li, .contact h2 {
  color: var(--text-kleur);
  text-decoration: none;
}

#about {
  display: flex;
  align-items: center; /* Om de foto en de tekst verticaal uit te lijnen */
  margin: auto;
}


#about .foto {
  max-width: 70%; /* Pas de grootte van de foto aan */
  width: 400px;
  max-height: 100%;
  flex-shrink: 0; /* Zorg ervoor dat de foto niet verkleint */
  border-radius: 50%;
  margin: 50px;
  box-shadow: 5px 5px 10px #51829B;
}

#about p {
  flex-grow: 1; /* De tekst vult de resterende ruimte */
  margin-right: 150px;
}

#about .about-text {
  display: grid;
  grid-column: auto;/* Zorgt ervoor dat h2 en p onder elkaar staan */
  max-width: 1080px;
  color: var(--text-kleur);

}

.header2 {
  background-color: #51829B;
  box-shadow: 5px 3px 3px rgb(190, 189, 189);
  color: var(--text-kleur);
  max-width: fit-content;
  border-radius: 10px;
  padding: 10px;
  font-size: large;
}

.NaamHeader {
  font-size: 30px;
  margin: 10px;
}

footer {
  background-color: var(--backgroundCol);
  color: var(--text-kleur);
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: auto; /* Duw de footer naar de onderkant */
}

.contact h2 ul {
  text-align: center;
}

.slideBox {
  align-items: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  margin: 40px;

}

.parent div {
  display: flex;
  justify-content: center; /* Horizontaal centreren */
  align-items: center; /* Verticaal centreren */
}

.content {
  max-width: 1280px;
  max-height: 0;
  overflow: hidden;
  background-color: #f3eded;
  border: 1px solid #9e9c9c;
  border-radius: 5px;
  margin: 5px;
  transition: max-height 0.5s ease;
}

.python {
  grid-column-start: 1;
  grid-row-start: 1;
  transform: scale(2);
}

.sql{
  grid-column-start: 2;
  grid-row-start: 1;
}

.content ul {
  list-style-type: none;
  margin: 15px;
  padding-left: 0;
}

.js{
  grid-column-start: 3;
  grid-row-start: 1;
}

.linux{
  grid-column-start: 2;
  grid-row-start: 2;
  transform: scale(1.5);

}

.docker {
  grid-column-start: 1;
  grid-row-start: 2;
}

.git {
  grid-column-start: 3;
  grid-row-start: 2;
}

.Vaardigheden{
  font-style: normal;
}

.Vaardigheden i{
  font-style: normal;
}

.Vaardigheden ul li {
  margin-left: 10px;
  font-style: normal;
}

.fa-eye{
  font-weight: bold;
  margin: 10px;
}

.Vaardigheden ul {
  padding: 0;
}

li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

li i {
  margin-right: 10px;
}

.fadingBackground {
  margin: auto;
  margin-top: 1rem;
  display: grid;
  color: var(--text-kleur);
  background-color: var(--vaardigheden-kleur);
  /* background-image: linear-gradient(to right, #243949 0%, #517fa4 100%); */
  border-radius: 10px;
  padding: 5px;
  max-width: 50%;
  justify-items: center;
  border: solid wheat;
  box-shadow: inset 2px 2px 4px #51829B;

}

.fadingBackground img{
  width: 20%;
}

.fadingBackground ul {
  display: grid;
  padding: 0%;
  margin: 15px;
}

.fadingBackground ul img {
  margin: auto;
}

.w3-button {
  background-color: transparent;
  color: whitesmoke;
  border: 0;
  grid-row: 1;
  grid-column: 1;
}

.w3-display-right { 
  grid-column: 3;
}

.fadingBackground ul {
  margin-top: 0;
}

.stars {
  display: inline-block;
  color: #f5c518; /* Gele kleur voor de sterren */
}

.goed {
  display: inline-block;
  color: #0d980d; /* Gele kleur voor de sterren */
  font-weight: bold;
}

.matig {
  display: inline-block;
  color: #f5c518; /* Gele kleur voor de sterren */
  font-weight: bold;
}

.stars .fas {
  margin-right: 5px;
}

.stars .far {
  color: #e4e4e4; /* Kleur voor de lege sterren */
}

.navbar-active {
  display: flex !important; /* Toestaan dat de navigatie zichtbaar is */
}

/* Contacteren */
form {
  max-width: 100%;
  width: 30%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

label {
  display: block;
  margin-bottom: 8px;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  height: 10%;
  color: rgb(255, 255, 255);
  padding: 5px;
  margin-bottom: 10px;
  background-color: #cccccc49;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px whitesmoke;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: rgb(255, 255, 255);
  border: none;
  padding: 15px 15px;
  cursor: pointer;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}



/* Media Queries voor Responsiviteit */
@media (max-width: 1024px) {
  header{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 44px repeat(1, 1fr);
    max-width: 100%;
    justify-content: flex-end;
  }

  .menu-toggle {
    display: grid; /* Toon het hamburgericoon op kleinere schermen */
    margin-right: 50px;
    grid-row: 1;
    grid-column: 2;
  }

  nav {
    display: none; 
    flex-direction: column; 
    width: 100%; 
    position: absolute; /* Maak de navigatie absoluut gepositioneerd */
    top: 65px; /* Plaats het direct onder de header */
    left: 0; /* Zet het aan de linkerkant */
    background-color: var(--backgroundCol); /* Zorg voor een achtergrondkleur */
  }

  nav ul {
    flex-direction: column; /* Zet navigatie-items onder elkaar */
    margin: 0; /* Verwijder marge */
    padding: 0; /* Verwijder padding */
  }

  nav ul li {
    margin: 8px 8px; /* Voeg marge toe tussen items */
    max-width: 100;
  }

  .fadingBackground {
    max-width: 80%;
    font-size: 10px;
  }

  .fadingBackground ul {
    max-width: 90%;
    font-size: 10px;
    margin: 10px;
  }

  #about{
    display: flex;
    flex-direction: column;
    margin: 15px;
  }

  #about .about-text {
    align-items: center;
  }

  #about .about-text p{
    align-items: center;
    margin: auto 10px;
  }

  .content img{
    max-width: 100%;
  }

  .contact {
    font-size: 15px;
    max-width: 100%;
    text-decoration: none;
  }  

  .python {
    grid-column-start: 1;
    grid-row-start: 1;
    transform: scale(5);
    width: 100%;
    height: 100%;

  }
  
  .sql{
    grid-column-start: 2;
    grid-row-start: 1;
  }
  
  .content ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .js{
    grid-column-start: 3;
    grid-row-start: 1;
  }
  
  .linux{
    grid-column-start: 2;
    grid-row-start: 2;
    transform: scale(1.5);
  
  }
  
  .docker {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  
  .git {
    grid-column-start: 3;
    grid-row-start: 2;
  }

}

@media (max-width: 768px) { 

  header{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 44px repeat(1, 1fr);
    max-width: 100%;
    justify-content: flex-end;
  }

  .menu-toggle {
    display: grid; /* Toon het hamburgericoon op kleinere schermen */
    margin-right: 50px;
    grid-row: 1;
    grid-column: 2;
  }

  .fadingBackground {
    max-width: 80%;
    font-size: 8px;
  }

  .fadingBackground ul {
    max-width: 100%;
    font-size: 10px;
    margin: auto;
  }

  
}

@media (max-width: 480px) {
  header{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 44px repeat(1, 1fr);
    height: 44px;
    max-width: 100%;
    justify-content: flex-end;
  }

  .menu-toggle {
    display: grid; /* Toon het hamburgericoon op kleinere schermen */
    margin-right: 50px;
    grid-row: 1;
    grid-column: 2;
  }

  header h1 {
    padding-left: 20px;
    font-size: 15px;
    transition: 0.3s;
    white-space: nowrap;
  }

  .menu-toggle {
    display: block; /* Toon het hamburgericoon op kleinere schermen */
    margin-right: 15px;
  }

  nav {
    display: none; 
    flex-direction: column; 
    width: 100%; 
    position: absolute; /* Maak de navigatie absoluut gepositioneerd */
    top: 45px; /* Plaats het direct onder de header */
    left: 0; /* Zet het aan de linkerkant */
  }

  nav ul {
    flex-direction: column; /* Zet navigatie-items onder elkaar */
    margin: 0; /* Verwijder marge */
    padding: 0; /* Verwijder padding */
  }

  nav ul li {
    margin: 8px 8px;
    max-width: 100;
  }

  #about{
    display: flex;
    flex-direction: column;
    margin: 15px;
  }

  #about .about-text {
    align-items: center;
    margin: 0 0;
  }

 .Vaardigheden {
    max-width: 100%;
    margin-right: 15px;
  }

  .content img{
    max-width: 100%;
  }
  .contact {
    font-size: 10px;
    max-width: 100%;
    color: inherit;
    text-decoration: none;
  }  

}

@media (max-width: 200px) {
  header{
    height: 44px;
    max-width: 100%;
  }

  header h1 {
    padding-left: 20px;
    font-size: 15px;
    transition: 0.3s;
    white-space: nowrap;
  }

  .menu-toggle {
    display: block;
    margin-right: 15px;
  }

  nav {
    display: none; 
    flex-direction: column; 
    width: 100%; 
    position: absolute;
    top: 44px; 
    left: 0;
  }

  nav ul {
    flex-direction: column; /* Zet navigatie-items onder elkaar */
    margin: 0; /* Verwijder marge */
    padding: 0; /* Verwijder padding */
  }

  nav ul li {
    margin: 8px 8px; /* Voeg marge toe tussen items */
    max-width: 100;
  }

  #about{
    display: flex;
    flex-direction: column;
    margin: 15px;
  }

  #about .about-text {
    align-items: center;
    margin: 0 0;
  }

  .content img{
    max-width: 100%;
  }

}
