@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html, body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #dee0e3;
  color: rgb(108, 105, 105);
  justify-content: space-between;
  border-bottom: 2px solid grey;
  
}

header #linkedin, header #mail {
  font-size: 30px;
  color: inherit;
  text-decoration: none;
}

header #linkedin:hover, header #mail:hover {
  color: #0077B5;
}

header h1 {
  margin: 10px;
  padding-left: 20px;
  font-size: 25px;
  transition: 0.3s;
  white-space: nowrap;
}

.menu-toggle {
  display: none; /* Verberg het hamburgericoon op grotere schermen */
  cursor: pointer; /* Voeg een cursor toe voor de muisaanwijzer */
}

nav {
  display: flex;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bolder;
  color: #92969a;
}

nav ul li a:hover {
  color: rgb(69, 68, 68);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.contact {
  margin: auto;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}


#about {
  display: flex;
  align-items: center; /* Om de foto en de tekst verticaal uit te lijnen */
}

#about .foto {
  max-width: 100%; /* Pas de grootte van de foto aan */
  width: 500px;
  flex-shrink: 0; /* Zorg ervoor dat de foto niet verkleint */
  border-radius: 50%;
  margin: 50px;
  box-shadow: 5px 5px 10px #51829B;
}

#about p {
  flex-grow: 1; /* De tekst vult de resterende ruimte */
  margin-right: 30%;
}

#about .about-text {
  display: flex;
  flex-direction: column; /* Zorgt ervoor dat h2 en p onder elkaar staan */
}

#about h2, .header2 {
  background-color: #51829B;
  box-shadow: 5px 3px 3px rgb(190, 189, 189);
  color: rgb(244, 242, 242);
  max-width: fit-content;
  border-radius: 10px;
  padding: 10px;
}

footer {
  background-color: #dee0e3;
  color: rgb(69, 68, 68);;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: auto; /* Duw de footer naar de onderkant */
}

.contact #mail, .contact #linkedin {
  font-size: 30px;
  color: inherit;
  text-decoration: none;
}

.contact #mail:hover, .contact #linkedin:hover {
  color: #ffcc00;
}

.collapsible {
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  transition: background-color 0.3s;
}

.collapsible-section {
  margin: 20px;

}

.collapsible:hover {
  background-color: #3f3f3f;
}

.collapsible:after {
  content: "\002B";
  color: white;
  float: right;
}

.collapsible.active:after {
  content: "\2212";
}

.content {
  padding: 0 25px;
  max-height: 0;
  overflow: hidden;
  background-color: #f3eded;
  border: 1px solid #9e9c9c;
  border-radius: 5px;
  margin-top: 5px;
  transition: max-height 0.5s ease;
}

.content ul {
  list-style-type: none;
  padding-left: 0;
}

.content ul li {
  padding: 10px 0;
  border-top: 1px solid #ccc;
}

.content img{
  width: 20%;
}

.collapsible-section .soort{
  font-weight: bold;
  font-style: normal;
}

.content ul li:last-child {
  border-bottom: none;
}

.Vaardigheden{
  font-weight: bold;
  font-style: normal;
  margin-left: 15px;
}

.Vaardigheden i{
  font-weight: bold;
  font-style: normal;
}

.Vaardigheden ul li {
  font-weight: bold;
  margin-left: 10px;
  font-style: normal;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

li i {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #102946;
}

.stars {
  display: inline-block;
  color: #f5c518; /* Gele kleur voor de sterren */
}

.stars .fas {
  margin-right: 5px;
}

.stars .far {
  color: #e4e4e4; /* Kleur voor de lege sterren */
}

.navbar-active {
  display: flex !important; /* Toestaan dat de navigatie zichtbaar is */
}

/* Media Queries voor Responsiviteit */
@media (max-width: 768px) {
  header{
    max-height: 100%;
    max-width: 100%;
  }

  .menu-toggle {
    display: block; /* Toon het hamburgericoon op kleinere schermen */
    margin-right: 50px;
  }

  nav {
    display: none; 
    flex-direction: column; 
    width: 100%; 
    position: absolute; /* Maak de navigatie absoluut gepositioneerd */
    top: 60px; /* Plaats het direct onder de header */
    left: 0; /* Zet het aan de linkerkant */
    background-color: rgb(222, 224, 227); /* Zorg voor een achtergrondkleur */
  }

  nav ul {
    flex-direction: column; /* Zet navigatie-items onder elkaar */
    margin: 0; /* Verwijder marge */
    padding: 0; /* Verwijder padding */
  }

  nav ul li {
    margin: 8px 8px; /* Voeg marge toe tussen items */
    max-width: 100;
  }

  #about{
    display: flex;
    flex-direction: column;
    margin: 15px;
  }

  #about .about-text {
    align-items: center;
  }

  #about .about-text p{
    align-items: center;
    margin: auto 10px;
  }

  .content img{
    max-width: 100%;
  }

  .contact {
    font-size: 15px;
    max-width: 100%;
    color: inherit;
    text-decoration: none;
  }  

}

@media (max-width: 480px) {
  header{
    max-height: 100%;
    max-width: 100%;
  }

  header h1 {
    margin: 10px;
    padding-left: 20px;
    font-size: 15px;
    transition: 0.3s;
    white-space: nowrap;
  }

  .menu-toggle {
    display: block; /* Toon het hamburgericoon op kleinere schermen */
    margin-right: 15px;
  }

  nav {
    display: none; 
    flex-direction: column; 
    width: 100%; 
    position: absolute; /* Maak de navigatie absoluut gepositioneerd */
    top: 52px; /* Plaats het direct onder de header */
    left: 0; /* Zet het aan de linkerkant */
    background-color: rgb(222, 224, 227); /* Zorg voor een achtergrondkleur */
  }

  nav ul {
    flex-direction: column; /* Zet navigatie-items onder elkaar */
    margin: 0; /* Verwijder marge */
    padding: 0; /* Verwijder padding */
  }

  nav ul li {
    margin: 8px 8px;
    max-width: 100;
  }

  #about{
    display: flex;
    flex-direction: column;
    margin: 15px;
  }

  #about .about-text {
    align-items: center;
    margin: 0 0;
  }

  .content img{
    max-width: 100%;
  }
  .contact {
    font-size: 10px;
    max-width: 100%;
    color: inherit;
    text-decoration: none;
  }  

}

@media (max-width: 200px) {
  header{
    max-height: 100%;
    max-width: 100%;
  }

  header h1 {
    margin: 10px;
    padding-left: 20px;
    font-size: 15px;
    transition: 0.3s;
    white-space: nowrap;
  }

  .menu-toggle {
    display: block; /* Toon het hamburgericoon op kleinere schermen */
    margin-right: 15px;
  }

  nav {
    display: none; 
    flex-direction: column; 
    width: 100%; 
    position: absolute; /* Maak de navigatie absoluut gepositioneerd */
    top: 44px; /* Plaats het direct onder de header */
    left: 0; /* Zet het aan de linkerkant */
    background-color: rgb(222, 224, 227); /* Zorg voor een achtergrondkleur */
  }

  nav ul {
    flex-direction: column; /* Zet navigatie-items onder elkaar */
    margin: 0; /* Verwijder marge */
    padding: 0; /* Verwijder padding */
  }

  nav ul li {
    margin: 8px 8px; /* Voeg marge toe tussen items */
    max-width: 100;
  }

  #about{
    display: flex;
    flex-direction: column;
    margin: 15px;
  }

  #about .about-text {
    align-items: center;
    margin: 0 0;
  }

  .content img{
    max-width: 100%;
  }

}
